/* background noise*/

.content {
    background: #1f1f1f;
}

/* loader */
.loader_wrap {
    overflow: hidden;
}
.loader {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.ring {
    margin: 0%;
    padding: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    width: 40%;
    opacity: 0.7;
}
.ring img {
    width: 100%;
}

.ringOne img {
    animation: rotateFirstRing 2s linear infinite;
}

.ringTwo img {
    animation: rotateFirstRing 6s linear infinite;
}

@keyframes rotateFirstRing {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.loader .main_title{
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
    
}
.loader .main_title h1{
    font-size:90px;
    font-weight:700;
    color:#fff;
   text-transform: uppercase;
}

@media (max-width: 900px) {
.loader .main_title h1 {
    font-size: 24px !important;
  }
}

.main_title  .letter {
  display: inline-block;
  opacity: 0;
  font-size: 90px;
  color: white;
  text-transform: uppercase ;
    font-weight:700;
    font-family:'Syncopate','Montserrat', sans-serif;
}
